/* initialization */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/* box */
.box {
  overflow: hidden;
  width: 780px;
  height: 780px;
}

/* images */

img,
.unopened {
  display: block;
  width: 240px;
  height: 240px;
  float: left;
  margin: 10px 10px;
}

.unopened {
  background-color: blue;
}

img {
  visibility: hidden;
}

/* font */

.box h2 {
  font-size: 20px;
}
